@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#menu1{
    border: aqua 5px solid;
    background-color: aqua;
    height: 40px;
    
    
    
    
    
}
#menu1 ul{
    
    display: flex;
    justify-content: space-around;
   
    

}
#menu1 ul li{
    list-style: none;

}
#menu1 ul li a{
    text-decoration: none;
}
input{
        height: 33px;
        background-color: rgb(206, 206, 212);
        text-align: center;
        
        
}



#menu2 {
    background-image: url(bg.jpeg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    
    color: aliceblue;
}
.name{
    margin-left: 100px;  
}
.knee{
    font-size: xx-large;
}
button{
   background-color: rgb(0, 225, 255);
   width: 100px;
   height: 30px;
   font-size: 15px;
   border: none;
}

.menu3{
    border: 1px solid;
    height: 50px;
    
   
   
}
.menu3 ul{
    
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
   

}
.menu3 ul li{
    list-style: none;
}
    
.menu3 ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
}
}

.menu3 ul li a:hover::before{
    transform: scaleX(1);
}

.section1{
    height: 409px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 92%;
    margin: auto;
}
.para{
    padding: 0px 50px;
}

.section2{
    height: 409px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 65%;
    margin-left: 75px;

}   

.section3{
    height: 409px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 65%;
    margin-left: 75px;

}   

.section4{
    height: 409px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 65%;
    margin-left: 75px;

}   
.section5{
    height: 409px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 65%;
    margin-left: 75px;

}   

.section6{
    height: 409px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 65%;
    margin-left: 75px;

}   

.container{
    height: 309px;
    display: flex;
   align-items: center;
    justify-content: space-evenly;
   

}

.accordion{
    width: 90%;
    background: transparent;
}

.accordion-item{
    background: #fff0e3;
    border: none;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1),-2px -2px 8px rgba(0,0,0,0.1);
}

.accordion-body{
    background: #ececec;
    font-size: 1.0rem;
}

.accordion-button{
    font-size: 0.8rem;
    background: transparent;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    font-weight: 500;
}

.accordion-button:focus{
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
}

.accordion-button:not(.collapsed){
    background: rgba(0,0,0,0.1);
    color: black;
    box-shadow: none;
}

.accordion-button::after{
    background-image: none;
    content:"\f0d7";
    font-family: fontawesome;
    width: auto;
    height: auto;
}

.accordion-button:not(.collapsed)::after{
    background-image: none;
}


#myCarousel{
    height: 350px;
    display: flex;
    align-items: center;
    
    max-width: 65%;
    margin-left: 100px;

}


.number {
    height: 100px;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
   
}
.links{
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: #ececec;
    height: 200px;
    padding-top: 15px;
}

.footer{
    height: 35px;
    background-color:lightseagreen ;
    
}
